%table.season-standings.alternating-rows
  %thead
    %tr
      %th
      %th Player
      %th GP
      %th W
      %th L
      %th W%
  %tbody
    - season.players.map{ |p| Stats::SeasonPersonal.new(season, p) }.sort_by(&:win_ratio).reverse.each_with_index do |stats, i|
      %tr.season-standings-player
        %td(data-th-label="Rank")= i + 1
        %td(data-th-label="Name")= stats.player.name
        %td(data-th-label="Games Played")= stats.matches_played
        %td(data-th-label="Wins")= stats.matches_won
        %td(data-th-label="Losses")= stats.matches_lost
        %td(data-th-label="Win Ratio")= stats.win_ratio
