.page-header
  .page-header-inner
    %h1.page-header-title Edit #{resource_name.to_s.humanize}

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'porkchop-form' }) do |f|
  - if f.error_notification
    .player-edit-errors.form-errors
      = f.error_notification

  .player-edit-email-fields.form-field-group
    = f.input :email, required: true, autofocus: true
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p Currently waiting confirmation for: #{resource.unconfirmed_email}

  .player-edit-password-fields.form-field-group
    %h2.form-field-group-title Password Update
    %p Leave these fields blank if you do not want to change your password.
    = f.input :password, autocomplete: "off", required: false
    = f.input :password_confirmation, required: false

  .player-edit-current-password-field.form-field-group
    %h2.form-field-group-title We need your current password to make changes to your account.
    = f.input :current_password, required: true

  .player-edit-actions.form-actions
    = f.button :submit, "Save changes"
