%table.player-matches-list.alternating-rows
  %thead
    %tr
      %th Finalized
      %th Opponent
      %th Final Score
  %tbody
    = cache [@player, matches.last] do
      - matches.each do |match|
        %tr.player-match
          %td= l match.finalized_at, format: :short
          %td
            - if @player == match.home_player
              = "vs #{match.away_player.name}"
            - else
              = "@ #{match.home_player.name}"
          %td.player-match-score
            - if @player.id == match.victor_id
              %strong W
            - else
              %strong L
            = [match.home_score, match.away_score].join(' - ')
