%table.leaderboard-list
  %thead
    %tr
      %th Player
      %th Rating
      %th Today
      %th This Week
      %th L10
  %tbody
    - players.each_with_index do |player, i|
      %tr.leaderboard-list-player
        %td
          %strong #{i + 1}.&nbsp;
          = link_to player.name, player
        %td= player.elo
        %td
          - change = player.elo - player.elo_on(Date.yesterday)
          - if change < 0
            %span(style="color: red")= change
          - elsif change > 0
            %span(style="color: green") +#{change}
        %td
          - change = player.elo - player.elo_on(Date.yesterday.beginning_of_week(:sunday))
          - if change < 0
            %span(style="color: red")= change
          - elsif change > 0
            %span(style="color: green") +#{change}
        %td= player.stats.last_10_results.join("-")
