%table.leaderboard-list
  %thead
    %tr
      %th
      %th Player
      %th Rating
      %th Today
      %th This Week
      %th L10
      %th Streak
  %tbody
    - players.each_with_index do |player, i|
      %tr.leaderboard-list-player
        %td(data-th-label="Rank")= i + 1
        %td(data-th-label="Name")= link_to player.name, player
        %td(data-th-label="Elo")= player.elo
        %td(data-th-label="Today")
          - change = player.elo - player.elo_on(Date.yesterday)
          - unless change == 0
            %span(class="elo-change-#{change < 0 ? 'negative' : 'positive'}")= change
        %td(data-th-label="This Week")
          - change = player.elo - player.elo_on(Date.yesterday.beginning_of_week(:sunday))
          - unless change == 0
            %span(class="elo-change-#{change < 0 ? 'negative' : 'positive'}")= change
        %td(data-th-label="L10")= player.stats.last_10_results.join("-")
        - if player.current_streak
          %td(data-th-label="Streak")= "#{player.current_streak.streak_type}#{player.current_streak.streak_length}"
        - else
          %td(data-th-label="Streak") -
