%ul
  %li= link_to "Players", players_path
  %li= link_to "Match History", matches_path
  - if ongoing_match
    %li{:class => ("navigation-action" if nav == :main)}
      = link_to "Scoreboard", scoreboard_path
    %li{:class => ("navigation-action" if nav == :main)}
      = link_to "Controls", edit_scoreboard_path
  - else
    %li{:class => ("navigation-action" if nav == :main)}
      = link_to "New Match", new_match_path
