.page-header
  .page-header-inner
    %h1.page-header-title Sign in to Play
    .page-header-links
      = render "devise/shared/links"

= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'porkchop-form' }) do |f|
  .form-field-group
    = f.input :email, required: false, autofocus: true
    = f.input :password, required: false
    = f.input :remember_me, as: :boolean, input_html: { checked: true } if devise_mapping.rememberable?

  .form-actions
    = f.button :submit, "Log in"
