%h2 Record

%p Games played: #{@player.matches.finalized.count}
%p Wins: #{@player.victories.count}
%p Losses: #{@player.losses.count}
%p Win percentage: #{@stats.win_ratio}

%h2 Elo Ratings

%p Elo: #{@player.elo}
%p Highest Elo: #{@stats.highest_elo_rating}
%p Lowest Elo: #{@stats.lowest_elo_rating}

%h2 Streaks

- if @player.current_streak
  %p Current streak: #{[@player.current_streak.streak_type, @player.current_streak.streak_length].join}
%p Longest winning streak: #{@stats.longest_winning_streak}
%p Longest losing streak: #{@stats.longest_losing_streak}

%h2 Win Ratio by Opponent
- @stats.win_ratio_by_opponent.each do |opponent, ratio|
  %p
    = opponent.name
    = [@stats.record_against(opponent)[0], @stats.record_against(opponent)[1]].join("-")
    = ratio

%h2 Last 10 Matches

= render "player_matches/list", matches: @player.matches.finalized.order(finalized_at: :desc).limit(10)

%p= link_to "All Matches →", player_matches_path(@player)
