.players-listing
  - @players.each do |player|
    = link_to player_path(player), class: 'list-player' do
      - if player.profile_picture?
        = image_tag player.profile_picture.url, class: "list-player-avatar"
      .list-player-details
        .name= player.name
        - if player.nickname.present?
          .alias
            %span.aka aka.
            %span.nickname= player.nickname
        %p= Stats::Personal.new(player).record.join('-')
