.player-summary.porkbox-light
  = image_tag @player.avatar_url, class: "player-summary-avatar"
  .player-summary-content
    %h1= @player.name
    - if @player == current_player
      = link_to "(edit)", edit_player_registration_path, class: "player-edit-link"
    - if @player.nickname.present?
      %p= "Nickname: #{@player.nickname}"
    %ul
      %li
        %strong Elo:
        = @player.elo
      - if @player.current_streak
        %li
          %strong Streak:
          = "#{@player.current_streak.streak_type}#{@player.current_streak.streak_length}"

- if last_played_match = @player.matches.finalized.last
  = cache last_played_match do
    = render "players/stats", player: @player
- else
  .porkbox-light
    %p This player hasn't even played a game yet. What were you expecting to see?
