.player-summary.porkbox-light
  = image_tag @player.avatar_url, class: "player-summary-avatar"
  %h1
    = @player.name
    &nbsp;
    - if @player.nickname.present?
      = "a.k.a. #{@player.nickname}"
      &nbsp;
    = link_to "(edit)", edit_player_path(@player)
  %h2
    Rating:&nbsp;
    = @player.elo
  %h3
    Record:&nbsp;
    = @stats.record.join("-")
  %canvas.player-elo-chart{ data: { ratings: @player.elo_ratings.sorted_ratings } }

.player-win-percentages.porkbox-light
  %h2 Win Ratio by Opponent
  %dl.player-win-percentage-list
    - @stats.win_ratio_by_opponent.each do |opponent, ratio|
      %dt= opponent
      %dd= ratio

.player-match-history.porkbox-light
  %h2 Match History
  = render "matches/list", matches: @player.matches.finalized.order(finalized_at: :desc)
