%table.match-list
  %thead
    %tr
      %th Finalized
      %th Home
      %th Away
      %th Final Score
      %th
  %tbody
    - matches.each do |match|
      = cache match do
        %tr
          %td= l match.finalized_at, format: :short
          %td{class: ["match-list-player", ("match-list-victor" if match.victor_id == match.home_player_id)]}
            = link_to match.home_player.name, match.home_player
          %td{class: ["match-list-player", ("match-list-victor" if match.victor_id == match.away_player_id)]}
            = link_to match.away_player.name, match.away_player
          %td
            = [match.home_score, match.away_score].join(' - ')
          %td
            = link_to "view", match
