.match-summary.porkbox-light
  %h3= "#{@match.victor.name} wins!"
  .home
    = link_to @match.home_player.name, @match.home_player, class: 'home-player-name'
    \:&nbsp;
    %span.home-player-score= @match.home_score
  .away
    = link_to @match.away_player.name, @match.away_player, class: 'away-player-name'
    \:&nbsp;
    %span.away-player-score= @match.away_score
