%footer.main-footer.porkbox-dark
  %ul.main-footer-navigation
    %li= link_to "Players", players_path
    %li= link_to "Match History", matches_path
    - if ongoing_match
      %li= link_to "Scoreboard", scoreboard_path
      %li= link_to "Controls", edit_scoreboard_path
    - else
      %li= link_to "New Match", new_match_path
    - if current_user
      %li= link_to "Log Out (#{current_user.username})",
        signout_path, method: :delete
    - else
      %li= link_to "Log in with Twitter", "/auth/twitter"
  .main-footer-information
    %h3 About PorkChop Club
    %p
      PorkChop Club began as a pure JavaScript scoreboard for helping us keep track
      of service in our table tennis matches at <a href="http://freerunningtech.com">FreeRunning Technologies</a>.
      Named for the <a href="http://en.wikipedia.org/wiki/Table_tennis#Chop">chop</a>
      shot and its use of <a href="https://github.com/baconjs/bacon.js/">Bacon.js</a>,
      it quickly evolved into a full fledged Rails application that tracks our
      game records, Elo ratings, and achievements.
