.site-header-wrap
  %nav.site-header
    = image_tag "header-paddle.svg", class: 'site-header-paddle'
    %h1.site-header-title
      = link_to "/" do
        PorkChop<span>.club</span>
    .site-header-current-match
      1 Kevin vs Jared 10
    .site-header-controls
      - if current_player
        = link_to "Start playing", "/", method: :put, class: "blue"
        = link_to "Log out", destroy_player_session_path, method: :delete, class: "red"
      - else
        = link_to "Log in", new_player_session_path, class: "red"
      %a.site-header-menu-button.green &bull;&bull;&bull;
