%nav.main-navigation{ class: [write_access? && "has-write-access"] }
  .main-header-wrap
    %header.main-header
      %h1.site-title
        = link_to root_path do
          PorkChop<span>.Club</span>
      = image_tag "header-paddle.svg", class: "main-header-paddle"
      .main-header-menu-button
  .header-controls-wrap
    .header-controls
      %ul.site-navigation
        %li.requires-write-access= link_to "Match Controls", edit_scoreboard_path
        %li= link_to "Players", players_path
        %li= link_to "Match History", matches_path

  - flash.each do |name, message|
    .site-flash-wrap{ class: name }
      .site-flash= message

