!!! 5
%html
  = render "layouts/head"

%body.layout-good
  %nav.pullout-navigation(data-js-pullout-navigation)
    .pullout-navigation-item
      = link_to "Home", root_path
  .site-wrap
    = render "layouts/flashes"

    = render "site_header"

    .site-content
      = yield

    = render 'layouts/javascript'
