!!! 5
%html
  = render "layouts/head"

%body.layout-good
  %nav.pullout-navigation
  .site-wrap
    = render "layouts/flashes"

    = render "site_header"

    .site-content
      = yield

    = render 'layouts/javascript'
