!!! 5
%html
  = render "layouts/head"

%body(data-js-pullout-navigation-active)
  .play-now-button Play Now

  .pullout-navigation-overlay(data-js-pullout-navigation-active data-js-pullout-navigation-toggle)

  = render "pullout_navigation"

  .site-wrap
    = render "layouts/flashes"

    = render "site_header"

    .site-content(data-js-pullout-navigation-active)
      = yield

  = render 'layouts/javascript'

