!!! 5
%html
  = render "layouts/head"

%body(data-js-pullout-navigation-active)
  .pullout-navigation-overlay(data-js-pullout-navigation-active)
  = render "pullout_navigation"

  .site-wrap
    = render "layouts/flashes"

    = render "site_header"

    .site-content
      = yield

    = render 'layouts/javascript'
