!!! 5
%html
  = render "layouts/head"
%body
  .outer-container
    = render "layouts/header"

    = yield

    %footer.main-footer
      %ul
        %li= link_to "Players", players_path
        %li= link_to "Match History", matches_path
        - if ongoing_match
          %li= link_to "Scoreboard", scoreboard_path
          %li= link_to "Controls", edit_scoreboard_path
        - else
          %li= link_to "New Match", new_match_path
        - if current_user
          %li= link_to "Log Out (#{current_user.username})",
            signout_path, method: :delete
        - else
          %li= link_to "Log in with Twitter", "/auth/twitter"
