!!! 5
%html
  = render 'layouts/head'
%body
  .outer-container
    %header.main-header
      %h1.main-title= link_to "Pork<em>chop</em>".html_safe, root_path
      %nav.primary-navigation
        = render "shared/navigation", nav: :main

    = yield

    %footer.main-footer
      = render "shared/navigation", nav: :footer
