!!! 5
%html
  = render "layouts/head"

%body(data-js-pullout-navigation-active)
  - if current_player
    - if current_player.active?
      = link_to "Stop Playing", play_path, method: :delete, class: "play-now-button"
    - else
      = link_to "Play Now", play_path, method: :post, class: "play-now-button"

  .pullout-navigation-overlay(data-js-pullout-navigation-active data-js-pullout-navigation-toggle)

  = render "pullout_navigation"

  .site-wrap
    = render "layouts/flashes"

    = render "site_header"

    .site-content(data-js-pullout-navigation-active)
      = yield

  = render 'layouts/javascript'

